.MainBlock {
  background-color: #fafafa;
  width: 45%;
  height: 120vh;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgba(117, 131, 142, 0.08),
    0px 20px 32px rgba(52, 60, 68, 0.16);
  display: block;
  text-align: center;
}

.text {
  margin-bottom: 10px;
  width: 80%;
  font-size: medium;
  padding: 15px;
  border-radius: 3px;
  border: #85949f solid 1px;
}

.text:focus {
  outline: none;
  border: #85949f solid 2px;
}

.Button {
  border: #85949f solid 2px;
  font-size: larger;
  padding: 10px 25px 10px 25px;
  background-color: transparent;
  color: #85949f;
  border-radius: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

.Button:hover {
  background-color: #85949f;
  color: white;
  cursor: pointer;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 80%;
  margin-bottom: 20px;
}

.Logo {
  width: 15%;
}
