.UploadImage {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.UploadImage > p {
    color: whitesmoke;
}