.Header {
    background-color: #4ADE80;
    width: 100%;
    border-radius: 20px;
    height: 115px;
    display: flex;
    align-items: center;
}

.Header > h1 {
    color: white;
    padding-left: 20px;
}